html,body{
    margin: 0;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 3.5em;
    text-align: center;
}
h5{
    font-size: 1em;
}

.App{
    position: relative;
    display: flex;
    height: 100vh;
    width: calc(5*100vw);
    margin: 0;
    right: 0;
    transition: .4s
}

.name-page>.left>.skills{
    text-align: center;
    font-size: 1.2em;
}
.name-page>.left>.skills>ul{
    list-style-type: none;
}
.left{
    display: flex;
    height: 100%;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.left>h5{
    margin: 20px 20px;
}
.progres-bar{
    width: 50%;
    height: 22px;
    margin: 7.5px auto;
    background-color: rgba(170, 153, 170, 0);
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}
.progres-bar>.bgc{
    position: absolute;
    background-color: #aaa;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}
.right>h5{
    position: absolute;
    margin: 0;
    font-size: 1.5em;
    background-color: #aaa;
    border-radius: 20px;
    padding: 20px;
    top: 470px;
    left: 5vw;
}
.right>h5:nth-child(2){
    top: 700px;
    left: auto;
    right: 5vw;
}
.right>.avatar{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    min-height: 900px;
}
.right>h5>ul{
    list-style-type: none;
    font-size: .8em;
}
.name-page>.right{
    flex-direction: column;
}
.name-page>.left>.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vw;
}
.name-page>.left>.contact>h5{
    margin: 20px;
}


.sample-page,.name-page{
    flex-basis: 100%;
    width: 100vh;
    height: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sample-page:nth-child(even){
    flex-direction: row-reverse;
}
.sample-page>.left,.sample-page>.right,.name-page>.left,.name-page>.right{
    flex-basis: 100%;
    height: 100vh;
    width: 50%;
    float: left;
}
.sample-page>.left>h1{
    width: 100%;
    text-align: center;
}


.samplepage-desc{
    text-align: center;
    margin: 75px;
    font-size: 1.35em;
    font-weight: 100;
}
.content{
}
.name-page>h1{
    flex-basis: 100%;
}
.left:nth-child(0){
    flex-direction: row;
}


.scroll-bar{
    text-align: center;
    font-size: 50px;
    position: fixed;
    left: 30%;
    right: 30%;
    border-radius: 100px;
    bottom: 40px;
    height: 5vh;
    /* background-color: rgba(252, 227, 0, 0.534); */
    display: flex;
}
.scroll-bar>span{
    cursor: pointer;
    flex-basis: 100%;
    height: 10px;
    line-height: 5vh;
    font-size: 40px;
}