:root {
    --white: #ffffff;
    --main: #434981;
    --gray: #8a8a8a;
    --dark: #2c2c2c;
  }
html,body{
    z-index: -1;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
h1{
    color: var(--main);
    font-size: 3.5em;
    text-align: center;
}
h3{
    margin-top: 0;
}
h4{
    color: var(--dark);
}
h5{
    color: var(--dark);
    font-size: 1em;
}
p{
    color: var(--gray);
}
ul{
    padding: 0;
}
a{
    text-decoration: underline;
    color: var(--gray);
}

/* ==========App========== */

.App{
    position: relative;
    display: flex;
    height: 100vh;
    width: calc(5*100%);
    margin: 0;
    right: 0;
    transition: .4s;
}
@keyframes toTop {
    from {margin-bottom: 0;}
    to {margin-top: -100vh;}
  }

.sample-page,.name-page{
    flex-basis: 100%;
    width: 100vh;
    height: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.sample-page:nth-child(even){
    flex-direction: row-reverse;
}
.left,.right{
    /* height: 100vh; */
    flex-basis: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}


/* ==========Left */

.left{
    justify-content: space-around;
}
.left>h5{
    margin: 20px 20px;
}

/* =========Right========== */

.right{
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

/* ==========NamePage========== */

.name-page>.left>h1{
    margin-top: 5vh;
}
.name-page>.right>.avatar{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    min-height: 600px;
}
.name-page>.left>.skills{
    text-align: center;
    font-size: 1.2em;
    flex-grow: 1;
}
.name-page>.left>.skills>ul{
    list-style-type: none;
}
.name-page>.left>.contact{
    flex-basis: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.name-page>.left>.contact>h5{
    margin: 20px;
}

.name-page>.right>h5{
    position: absolute;
    margin: 0;
    font-size: 1.5em;
    background-color: var(--gray);
    border-radius: 20px;
    padding: 20px;
    top: 470px;
    left: 5vw;
}
.name-page>.right>h5:nth-child(2){
    top: 700px;
    left: auto;
    right: 5vw;
}
.name-page>.right>h5>ul{
    list-style-type: none;
    font-size: .8em;
}

.skills>ul>li{
    color: var(--dark);
}
.progres-bar{
    width: 50%;
    height: 22px;
    margin: 7.5px auto;
    background-color: rgba(170, 153, 170, 0);
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--gray);
}
.progres-bar>.bgc{
    position: absolute;
    background: linear-gradient(90deg, #fff 0%, #f00 100%);
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 10px;
}

/* ==========SamplePage========== */

.samplepage-desc{
    text-align: center;
    margin: 75px;
    font-size: 1.35em;
    font-weight: 100;
}

.school-png{
    width: 100%;
}


.date{
    font-size: 0.75em;
    text-align: right;
    margin: 0 100px;
}

/* ==========ScrollBar========== */

.scroll-bar{
    text-align: center;
    position: fixed;
    left: 30%;
    right: 30%;
    bottom: 40px;
    display: flex;
}
.scroll-bar>span{
    cursor: pointer;
    flex-basis: 100%;
    line-height: 5vh;
    font-size: 40px;
    transition: .4s;
    transform-origin: center;
}


/* ==========FinPage========== */

.fin-page{
    position: relative;
    width: 100vw;
    background-color: #ddc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: none;
}

@keyframes moveToRight {
    0%{translate: 0 0;}
    100%{translate: 100% 0;}
}

.fin-page>.btns>a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fin-page>.btns>a>button{
    cursor: pointer;
    height: 80px;
    width: 400px;
    border-radius: 100px;
    margin: 40px 40%;
    transition: .4s;
    color: var(--white);
    font-size: 1em;
    border: none;
}
.mail{
    background-color: #434981;
}
.git{
    background-color: #434343;
}
.cv-btn{
    background-color: #814349;
}
.fin-page>.btns>a>button:hover{
    translate: 0 -20px;
    box-shadow: #2c2c2c 2px 10px 2px;
}
.fin-page>p{
    font-size: 1.4em;
    text-align: center;
    margin: 0 20px;
}
.fin-page>.back{
    position: fixed;
    top: 5%;
    left: 0;
    right: 95%;
    height: 75px;
    background-color: #814349;
    transition: .4s;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    animation: 1.1s ease showBtn;
}
.fin-page>.back:hover{
    right: 90%;
}
.fin-page>.back>svg{
    position: absolute;
    right: 0;
    height: 50%;
    margin: calc(75px/4) 20px;
    color: var(--white);
    animation: 1.1s ease showArrow;
}

@keyframes showBtn {
    0%{background-color: rgba(0,0,0,0);}
    50%{background-color: rgba(0,0,0,0);}
    100%{background-color: #814349;}
}
@keyframes showArrow {
    0%{color: rgba(0,0,0,0);}
    50%{color: rgba(0,0,0,0);}
    100%{color: #fff;}
}

.fin-page>.data{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    font-size: 16px;
}

/* MediaQueris */

@media (max-width: 1250px) {
    h1{
        font-size: 2.7em;
    }
    .name-page, .sample-page:nth-child(even),.sample-page{
        flex-direction: column;
        /* height: 150%; */
    }
    .name-page>.right{
        justify-content: start;
        flex-grow: 1;
    }
    .sample-page>.right{
        justify-content: space-between;
    }
    .name-page>.right>.avatar{
        min-height: 0;
    }
    .left{
        flex-basis: 30%;
        justify-content: flex-start;
        /* height: 100vh; */
    }
    .right{
        /* height: 100vh; */
    }

    .scroll-bar{
        left: 5vw;
        right: 5vw;
        background-color: #fff;
        border-radius: 20px;
        border: solid var(--gray);
    }


    .fin-page>h1{
        font-size: 2.2em;
    }
    .fin-page>.btns>a>button{
        margin: 2vh auto;
    }
    .fin-page>.back{
        right: calc(100vw - 12.5vw);
        height: 50px;
        top: 1%;
    }
    .fin-page>.back>svg{
        height: 50%;
        margin: calc(50px/4) 20px;
    }

    .name-page>.right>h5:nth-child(2) {
        top: 15%;
    }
    .name-page>.right>h5{
        top: 75%;
    }
}

@media (min-width: 1250px) {
    .left{
        height: 100vh;
    }
    .right{
        height: 100vh;
    }
}